<div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-75">
    <div class="bg-white p-8 rounded shadow-md">
        <button class="absolute top-0 right-0 m-2 p-2 rounded-full bg-gray-200 hover:bg-gray-300"
            (click)="close()">
            <svg class="h-6 w-6 text-gray-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
        @if(validToDrive){
        <div class="flex items-center justify-center mb-4">
            <svg class="h-12 w-12 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
            </svg>
        </div>
        <div class="text-center">
            <p class="text-lg font-semibold mb-2">¡Puedes circular!</p>
            <p class="text-gray-700">El vehículo con la placa {{dataVehicle.plate}} puede circular en
                el horario
                consultado: {{dataVehicle.datetime}}.</p>
        </div>
        }@else{
        <div class="flex items-center justify-center mb-4">
            <svg class="h-12 w-12 text-red-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </div>
        <div class="text-center">
            <p class="text-lg font-semibold mb-2">¡No puedes circular!</p>
            <p class="text-gray-700">El vehículo con la placa {{dataVehicle.plate}} no puede circular
                en el horario
                consultado: {{dataVehicle.datetime}}.</p>
        </div>
        }
    </div>
</div>