<div class="flex justify-center items-center">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mt-6 w-2/5" #form="ngForm" (ngSubmit)="onSubmit(form.value)">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="string-input">
                Placa del vehículo
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="string-input" type="text" placeholder="Ingrese una placa" pattern="[A-Za-z]{3}[0-9]{4}" name="plate"
                ngModel #plate="ngModel" required>

            @if(plate.invalid && (plate.dirty || plate.touched)){
            <div class="text-red-500 text-xs italic">
                Por favor, ingrese una placa válida.
            </div>
            }

            @if(plate.errors && plate.errors['required'] && (plate.dirty || plate.touched)){
            <div class="text-red-500 text-xs italic">
                Este campo es requerido.
            </div>
            }

        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="datetime-input">
                Fecha y Hora
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="datetime-input" type="datetime-local" name="datetime" ngModel #datetime="ngModel" required>

            @if(datetime.errors && datetime.errors['required'] && (datetime.dirty || datetime.touched)){
            <div class="text-red-500 text-xs italic">
                Este campo es requerido.
            </div>
            }
        </div>
        <div class="flex items-center justify-between">
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit" [disabled]="form.invalid">
                Consultar
            </button>
        </div>
    </form>
</div>